@{
    UrlParameterViewModel param = ViewBag.UrlParameterViewModel;
    ResultViewModel result = ViewBag.ResultViewModel;
}

<h1>SIC43S1 Demonstration</h1>
<table class="table">
    <tr>
        <th>UID [7]</th>
        <td colspan="3">@param.Uid</td>
    </tr>
    <tr>
        <th>Default Key</th>
        <td colspan="3">@param.Key</td>
    </tr>
    <tr>
        <th>-</th>
        <th>From Tag</th>
        <th>From Server</th>
        <th>Result</th>
    </tr>
    <tr>
        <th>Temporary Flag (HEX)</th>
        <td>@param.Tf</td>
        <td>@result.temporary</td>
        <td>@result.tfStatus</td>
    </tr>
    <tr>
        <th>Timestamp (DEC)</th>
        <td>@param.Ts</td>
        <td>N/A</td>
        <td>N/A</td>
    </tr>
    <tr>
        <th>Smart Authentication Code (HEX)</th>
        <td>@param.Sac</td>
        <td>@result.aes128cmac</td>
        <td>@result.rollingStatus</td>
    </tr>
</table>


